.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.dropdown {
    margin: 5px;
}

label {
    margin: 5px;
}

.art {
    height: 500px;
    border: 1px solid black;
    width: 500px;
    margin: auto;
}